<h1>Search</h1>
<form name="query" action="/search/search_result" class = "new_query" id="new_query">
  course:<br>
  <input type="text" name="coursename" id="course"><br>
  subject:<br>
  <select name="subjectid" id="subject" >
    <option value="">chose here</option>
    <option value="<%=options_for_select(@showSub)%>"></option>
  </select><br>
</form>
<div id = "resulttable"></div>
